.saved-scenario-card {
  display: flex;
  flex-direction: column;
}

.saved-scenario-link {
  flex: 1;
  display: block;
}

.saved-scenario-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--theme-color-1);
  border-top: var(--border);
}

.saved-scenario-title {
  display: block;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  border-bottom: var(--border);
}

.saved-scenario-delete-button {
  width: 100%;
  padding: 0.5rem;
  font-size: 0.9rem;
  border: none;
}

.saved-scenarios-empty-message {
  grid-column: 1 / -1;
  text-align: center;
  padding: 2rem;
  line-height: 1.6;
}

@media only screen and (max-width: 599px) {
  .saved-scenario-card {
    height: 250px;
  }
}
