@import "../../theme/theme.css";

.ad-slot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: pink;
  overflow: hidden;
}

.ad-slot-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.ad-slot-banner {
  min-height: var(--ad-banner-height-mobile);
  max-height: var(--ad-banner-height-desktop);
  height: clamp(
    var(--ad-banner-height-mobile),
    12vw,
    var(--ad-banner-height-desktop)
  );
}

.ad-slot-rectangle {
  width: 100%;
  max-width: var(--ad-rectangle-width);
  min-height: var(--ad-rectangle-height);
  margin-block: 2rem;
  margin-inline: auto;
  padding-inline: 2rem;
  box-sizing: content-box;
}

@media only screen and (min-width: 768px) {
  .ad-slot-banner {
    min-height: var(--ad-banner-height-desktop);
    height: var(--ad-banner-height-desktop);
  }
}
