.controls-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.control {
  display: grid;
  grid-template-areas:
    "label"
    "input";
  row-gap: 0.5rem;
  margin-bottom: 2.5rem;
  min-width: 0;
}

.control-label {
  grid-area: label;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.control-input {
  grid-area: input;
  min-width: 0;
}

@media screen and (min-width: 500px) {
  .control {
    grid-template-areas: "label input";
    grid-template-columns: minmax(min-content, 40%) 1fr;
    row-gap: 0;
    column-gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 900px) {
  .control {
    grid-template-columns: 15rem 1fr;
    column-gap: 1.5rem;
    margin-bottom: 2.5rem;
  }
}

.control-full-width {
  display: block;
}
