.planetary-scenario-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--theme-color-1);
  border-top: var(--border);
  height: var(--page-footer-height);
  padding-left: var(--padding);
}

.play-button-modifier {
  width: fit-content;
  padding: var(--padding) calc(2 * var(--padding));
}

.reset-button-modifier {
  width: fit-content;
  padding: var(--padding) calc(2 * var(--padding));
  margin-left: var(--padding);
}

.save-button-modifier {
  width: fit-content;
  padding: var(--padding) calc(2 * var(--padding));
  margin-left: var(--padding);
}

.simulation-controls-tabs {
  display: flex;
  align-items: center;
  margin-left: auto;
  overflow-x: auto;
}

.simulation-control-tab {
  height: var(--page-footer-height);
  flex-shrink: 0;
  min-width: 5.25rem;
  padding: 0.825rem 1.125rem;
  border-right: var(--border);
}

.simulation-control-tab i {
  font-size: 1.5rem;
}

.simulation-control-tab:last-child {
  border-right: none;
}

.simulation-controls-content-wrapper {
  position: absolute;
  bottom: var(--page-footer-height);
  right: 0;
  height: 45vh;
  z-index: 2;
  width: 100vw;
  background-color: var(--theme-color-1);
  padding: 1rem;
  border-top: var(--border);
  font-size: 1.2rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.full-screen-canvas-element {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.webgl-canvas {
  z-index: 0;
}

.labels-2d-canvas {
  z-index: 1;
}

@media screen and (min-width: 500px) {
  .simulation-controls-content-wrapper {
    height: calc(100vh - var(--page-footer-height));
    width: var(--scenario-controls-width-medium-screens);
    border-left: var(--border);
    border-top: none;
    background-color: var(--theme-color-1);
  }

  .simulation-controls-tabs {
    border-left: var(--border);
  }
}

@media screen and (min-width: 900px) {
  .simulation-controls-content-wrapper {
    height: calc(100vh - var(--page-footer-height));
    width: var(--scenario-controls-width-large-screens);
    border-left: var(--border);
    border-top: none;
    background-color: var(--theme-color-1);
  }

  .simulation-controls-tabs {
    border-left: var(--border);
  }
}

.simulation-controls-content-wrapper-close-button {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  font-size: 1.75rem;
  color: var(--theme-color-5);
  cursor: pointer;
  line-height: 1;
  z-index: 2;
  transition: color 0.15s;
}

.simulation-controls-content-wrapper-close-button:hover {
  color: var(--theme-color-6);
}
