.toggle {
  cursor: pointer;
  width: 100%;
}

.toggle input[type="checkbox"] {
  display: none;
}

.toggle label {
  display: block;
  width: 100%;
}

.toggle label .toggle-track {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  border-radius: 0;
  border: 1px solid var(--theme-color-4);
  background-color: var(--theme-color-1);
  position: relative;
  cursor: pointer;
  transition:
    border-color 0.2s,
    box-shadow 0.2s;
}

.toggle .toggle-track:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  height: 26px;
  width: 26px;
  border-radius: 0;
  background-color: var(--theme-color-4);
  transition:
    left 0.2s ease,
    background-color 0.2s,
    box-shadow 0.2s;
}

.toggle input[type="checkbox"]:checked + label .toggle-track {
  box-shadow: 0 0 6px rgba(217, 217, 217, 0.15);
}

.toggle input[type="checkbox"]:checked + label .toggle-track:before {
  left: calc(100% - 31px);
  background-color: var(--theme-color-6);
  box-shadow: 0 0 6px rgba(217, 217, 217, 0.3);
}
